# Reading, writing CSV and Excel files<br>

In [ ]:
import pandas as pd

In [4]:
#get data from GitHub -> https://github.com/keuperj/DATA
!git clone https://github.com/keuperj/DATA.git

Cloning into 'DATA'...
remote: Enumerating objects: 126, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (28/28), done.
remote: Total 126 (delta 11), reused 39 (delta 11), pack-reused 87
Receiving objects: 100% (126/126), 185.56 MiB | 21.28 MiB/s, done.
Resolving deltas: 100% (32/32), done.
Updating files: 100% (86/86), done.

In [ ]:
#Reading CSV file
d=pd.read_csv('DATA/weather.csv')
d.head(3)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.

In [11]:
!pip install xlrd==2.0.1

Collecting xlrd==2.0.1
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 2.3 MB/s eta 0:00:00
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.2.0
    Uninstalling xlrd-1.2.0:
      Successfully uninstalled xlrd-1.2.0
Successfully installed xlrd-2.0.1

In [1]:
import pandas as pd

In [2]:
#Reading excel file
df=pd.read_excel('DATA/titanic.xls')
df.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,None,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,None,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,None,None,"Montreal, PQ / Chesterville, ON"

### If you want to read only few rows rather than all

In [3]:
df=pd.read_csv('DATA/weather.csv',nrows=7)
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.

### Changing specific values with NaN while reading
 * While reading the dataset you can change the specific value with NaN
   > df = pd.read_excel ( " titanic.xls " , na_values = [ list of element which you want to change to NaN ] )

In [4]:
df = pd.read_excel("DATA/titanic.xls",na_values=[None])
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Changing specific values with NaN columns wise while reading

In [5]:
df=pd.read_excel('DATA/titanic.xls')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,None,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,None,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,None,None,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,None,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,None,None,"Montreal, PQ / Chesterville, ON"

In [6]:
df=pd.read_excel('DATA/titanic.xls',na_values={'body':['None'],'boat':['None'],'age':[29,2]})
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,NaN,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,NaN,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

 * <b>na_values </b>argument is used to replace all the values passes in the list with NaN.You can also replace some invalid values column wise as you can in the above code. If you run the above code you will a dataframe where 'None' in body column is replaced by NaN,again None in the boat column is replaced by NaN and 29 & 2 in age column are replaced by NaN.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     20 non-null     int64
 1   survived   20 non-null     int64
 2   name       20 non-null     object
 3   sex        20 non-null     object
 4   age        18 non-null     object
 5   sibsp      20 non-null     int64
 6   parch      20 non-null     int64
 7   ticket     20 non-null     object
 8   fare       20 non-null     float64
 9   cabin      20 non-null     object
 10  embarked   20 non-null     object
 11  boat       12 non-null     object
 12  body       3 non-null      float64
 13  home.dest  20 non-null     object
dtypes: float64(2), int64(4), object(8)
memory usage: 2.3+ KB

### Writing into CSV or excel
 * You can convert any dataframe in a new CSV or excel file file

In [8]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

### Creating a new file

#### Creating a new csv file mycsv.csv

Suppose you have read a csv or excel file as dataframe object and you did some modification.Now you want to write a new csv or excel file that contains the modified dataframe. In that case you will need to_csv() or to_excel() function to create a new file.See the example below -

In [9]:
df.to_csv('mycsv.csv',index=False)

**Note:** you can view the output CSV file in ***Jupyter Lab***.

In [11]:
!pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.0/100.0 kB 2.1 MB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

#### Creating a new excel file myexcel.xls

In [12]:
df.to_excel('myexcel.xls',index=False)

<ipython-input-12-e7dd25c28f75>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('myexcel.xls',index=False)

### Writing into csv or excel only selected rows
<br>
Suppose you modified the dataframe and you want to write it in another csv file with only selected columns.In the following example we have created the new csv file mycsv_few_columns.csv by "df" dataframe allowing only three columns which we want i.e, day, temp, wind-speed and i have ignored the date column.

#### how many columns in dataframe df ?

In [ ]:
df.columns

In [ ]:
#Writing only three columns day,temp,wind-speed
df.to_csv('mycsv_few_columns.csv',columns=['day','temp','wind-speed'],index=False)

#Again reading to see the result
d=pd.read_csv('mycsv_few_columns.csv')
d

### Converters :

In various cases you dont have clean dataset. Invalid values in the dataset leads to a lot of problem while predicting or extracting the meaningful information.To avoid this problem we use converters.
* Converters are basically functions which convert the specific value of a column in your desire value
* Converter function passed into the disctionary like in the na_values.

This is our dataset in which you can see that there are lots of invalid values are present.These values are noise in our dataset.

In [ ]:
df=pd.read_csv('DATA/season.csv')
df

#### The following function will convert any cell of column having 'NaN' into 40, so here we will apply this function into 'temp' column and so for the 'day' and 'wind-speed' columns.

In [ ]:
def converter_for_temp(col):
    if col=='NaN':
        return 40
    else:
        return col
def converter_for_day(col):
    if col=='NaN':
        return 'sunny'
    else:
        return col
def converter_for_wind_speed(col):
    if col=='Not available':
        return 30
    elif col=="NaN":
        return 48
    else:
        return col

In [ ]:
df=pd.read_csv('DATA/season.csv',converters={
    'day':converter_for_day,
    'temp':converter_for_temp,
    'wind-speed':converter_for_wind_speed
   })
df

You can observe that previously the columns 'day', 'temp' and 'wind-speed' had some invalid data like 'NaN','NAN','Not available' but after applying the converter functions we got a cleaned dataset.Now we can apply some data analysis techniquw to predict something in our dataset.

### Writing different dataframes into one file but different sheet names

Let's assume that you have two different dataframes and you want to write it in the same excel sheet but different sheet names.
<br>

Let's take two disctionary one is "weather1" and another is "house1" and make it two dataframe "weather" & "house"

In [ ]:
#Creating weather disctionary
weather1={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
weather=pd.DataFrame(weather1)

#Creating house disctionary
house1={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'price':[20000,30000,40000,50000,60000],
         'bhk':[1,3,2,1,2],
         'how-old':[2,5,2,7,4]
       }

#converting house disctionary to dataframe object

house=pd.DataFrame(house1)

 Call the "ExcelWriter" and make a object "writer".Now call to_excel() function and pass three argument -
  * <b>1. "writer" object :</b>
  * <b>2. sheet_name : </b>
  * <b>3. Index :</b> This is optional for you

In [ ]:
with pd.ExcelWriter('weather_and_house.xls') as writer:
   weather.to_excel(writer,sheet_name='Weather',index=False)
   house.to_excel(writer,sheet_name='House',index=False)

#### Now access the sheets separately by passing its name while reading
See the example

In [ ]:
d1=pd.read_excel('weather_and_house.xls','Weather')
d1

In [ ]:
d2=pd.read_excel('weather_and_house.xls','House')
d2